<!--
部分テンプレートを表示するrenderメソッド:
部分テンプレートは必ずアンダースコア（_）で始まる必要がある。
-->
<%= form_for(@message) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>

<div class="row form-group">
  
  <div class="col-sm-12">
    <label for="message_name">名前</label>
    <%#= f.label :name, "名前" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>  

  <div class="col-sm-2">
       <label for="message_age">年齢 (半角数字)</label>
       <%#= f.label :name, "年齢" %>
       <%= f.text_field :age, class: "form-control" %>
  </div>

  <div class="col-sm-12">
   <label for = "message_body">内容</label>
    <%= f.text_area :body, class: "form-control" %>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
  <%= f.submit class: "btn btn-sm btn-primary" %>
  <% end %>
  </div>
</div>
